@import "./colors.scss";

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: $color-mid;

    font-size: 14px;
    display: grid;
    grid-template-columns: 33% 67%;
    grid-template-rows: auto 1fr;

    .title {
        background-color: $color-dark;
        color: $color-light;
        text-align: center;
        padding: 10px;
        font-size: 24px;

        &::after {
            content: "™";
        }
    }

    .navbar {
        display: grid;
        grid-template-columns: 1fr auto;

        .login {
            grid-column-start: -1;
            background-color: $color-focus;
            color: $color-dark;
            display: grid;
            padding: 10px;
        }

        #login-buttons {
            margin: auto;
        }
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
        color: $color-light;
        align-items: stretch;
        padding: 0px;
        margin: 0px;
        padding-right: 1px;

        &>li {
            background-color: $color-dark;
            margin: 1px 0px 0px 1px;
            cursor: pointer;
            display: grid;
            flex-grow: 1;
            
            &>span {
                margin: auto 0px;
                padding: 5px 15px;
                text-align: center;
            }

            &:hover {
                background-color: $color-strong;
            }
        }
    }

    .paneView {
        display: grid;
        width: 100%;
        height: 100%;
        overflow: hidden;
        grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(0px, 1fr));

        // n^2+1 child should go on a new row
        &>*:nth-child(2) { grid-row: 2; }
        &>*:nth-child(4) { grid-row: 2; }
        &>*:nth-child(8) { grid-row: 2; }
        &>*:nth-child(14) { grid-row: 2; }
        &>*:nth-child(22) { grid-row: 2; }
        &>*:nth-child(5) { grid-row: 3; }
        &>*:nth-child(6) { grid-row: 3; }
        &>*:nth-child(9) { grid-row: 3; }
        &>*:nth-child(15) { grid-row: 3; }
        &>*:nth-child(23) { grid-row: 2; }
        &>*:nth-child(10) { grid-row: 4; }
        &>*:nth-child(11) { grid-row: 4; }
        &>*:nth-child(12) { grid-row: 4; }
        &>*:nth-child(16) { grid-row: 4; }
        &>*:nth-child(24) { grid-row: 4; }
        &>*:nth-child(17) { grid-row: 5; }
        &>*:nth-child(18) { grid-row: 5; }
        &>*:nth-child(19) { grid-row: 5; }
        &>*:nth-child(20) { grid-row: 5; }
        &>*:nth-child(25) { grid-row: 5; }
    }
}
